
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Search</h1>
    <div class="row">
      <p class="lead"> searching senor information </p>
    </div>
</div>

<div class="sensor data">

<title>Title</title>
 
    <table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Sensor</th>
        <th>Vendor</th>
        <th>RunNumber</th>
        <th>LeackageCurrent</th>
        <th>BreakDownVoltage</th>
        <th>IVCurve</th>
    </tr>
        {% for i in data %}
            <tr>
                <td>{{ i['ID'] }}</td>
                <td>{{ i['Sensor'] }}</td>
                <td>{{ i['Vendor'] }}</td>
                <td>{{ i['RunNumber'] }}</td>
                <td>{{ i['LeackageCurrent'] }}</td>
                <td>{{ i['BreakDownVoltage'] }}</td>
                <td>{{ i['IVCurve'] }}</td>

            </tr>
        {% endfor %}
    </table>
 
</div>
{% endblock %}

